// Buttons
// --------------------
.btn-social {
  color: #fff;
  text-shadow: none;
  box-shadow: none;

  &:active, &:hover, &:focus {
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-facebook {
  $color: #536da4;
  background: $color;
  border: 1px solid $color;

  &:hover {
    background: #4b6294;
  }
}

.btn-twitter {
  $color: #55acee;
  background: $color;
  border: 1px solid $color;

  &:hover {
    background: #2795e9;
  }
}

.btn-google {
  $color: #d75e4e;
  background: $color;
  border: 1px solid $color;

  &:hover {
    background: #d24836;
  }
}

.btn-github {
  $color: #444;
  background: $color;
  border: 1px solid $color;

  &:hover {
    background: #2b2b2b;
  }
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}


body {
  padding-top: 70px;
  font: 13px/1.4 "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.site-footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar {
  /* background-color: #65d165; */
}

.auth-page {
  max-width: 350px;
  margin: 0 auto 50px;
}

.hr-line {
  border: none;
  border-top: 1px solid #ededed;
  text-align: center;
  margin: 24px 0;
  > legend {
    font-size: 1em;
    padding: 0 12px;
    margin: 0 auto;
    color: #8b909a;
    border-bottom: 0;
    width: auto;
  }
}
