{% extends '../layouts/basic.html' %}

{% block content %}
<div class="row">
  <div class="auth-page">
    {% if errors && errors.length %}
    <div class="contextual">
      {% for error in errors %}
      <p class="bg-danger">{{ error.message }}</p>
      {% endfor %}
    </div>
    {% endif %}

    <h2>FutureSpace.IO</h2>
    <h5 class="text-center">Sign in with:</h6>
    {% if providers %}
    <div class="center-block">
      {% for provider in providers %}
      <a class="btn btn-default btn-block text-capitalize" href="/auth/{{provider | lower }}" role="button">
        <i class="fa fa-{{provider | lower }}"></i>
        {{provider}}
      </a>
      {% endfor %}
    </div>
    {% endif %}
    <form accept-charset="UTF-8" action="/auth/local" method="post">
      <input type="hidden" name="utf8" value="✓">
      <input type="hidden" name="_csrf" value="{{_csrf}}">
      <fieldset class="hr-line">
        <legend align="center">OR</legend>
      </fieldset>
      <div class="form-group">
        <input type="text" class="form-control" name="user[identifier]" placeholder="Username or Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="user[password]" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default btn-block">Sign in</button>
      </div>
      <div class="text-center">
        <a href="#">Forgot your password?</a>
        |
        <a href="/signup">Create an Account</a>
      </div>
    </form>
  </div>
</div>

<script>
if (window.location.hash && window.location.hash === '#_=_') {
  if (window.history && history.pushState) {
    window.history.pushState('', document.title, window.location.pathname);
  } else {
    // Prevent scrolling by storing the page's current scroll offset
    var _scroll = {
      top: document.body.scrollTop,
      left: document.body.scrollLeft
    };
    window.location.hash = '';
    // Restore the scroll offset, should be flicker free
    document.body.scrollTop = _scroll.top;
    document.body.scrollLeft = _scroll.left;
  }
}
</script>
{% endblock %}
