* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #4084D0;
    transition: color .1s ease-out, border-color .1s ease-out, background-color .1s ease-out, background-image .1s ease-out;
}

#main *::-moz-selection {
    color: #fff;
    background: #4084d0;
}

#main *::selection {
    color: #fff;
    background: #4084d0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

html {
    font: 14px/1.5 "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444b58;
    color: #2ecc71;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.future-space {
    /* 背景图等我切下来换上去这里占位 */
    background: #061524 url("../images/bg.png") no-repeat top center fixed;
    background-size: cover;
    -moz-background-size: cover;
    background-color: none;
}

nav a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.pt40 {
    padding-top: 40px;
}

.mt40 {
    margin-top: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.wrapper {
    max-width: 61.250rem;
    margin: 0 auto
}

.highlight {
    color: #fff;
}

.text-light {
    font-weight: lighter;
    font-style: normal;
}

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.nav-toggle {
    display: none;
}

.main-header {
    background: none;
    background-color: transparent;
    padding: 2.8125rem 1.25rem 0;
}

.main-header>.wrapper {
    border-width: 0 0 1px;
    border-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 100%) 5%;
}

.product-nav h1 {
    float: left;
    margin: 0;
    font-size: 2rem;
    vertical-align: middle;
}

.product-nav ul {
    float: right;
}

.product-nav ul a {
    display: block;
    padding: .2rem .8rem;
}

.product-nav ul a.buy {
    color: rgba(255,255,255,0.9);
    padding: .2rem .8rem .2rem .9rem;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 10rem;
}

.product-nav ul a.buy:hover {
    color: #fff;
    border-color: rgba(255,255,255,0.3);
}

.product-nav li {
    float: left;
    padding: .5rem 0;
    margin-left: 1.25rem
}

.button {
    display:inline-block;
    padding:.625em 1.5625em;
    border-radius:10rem;
    font-size: 14px;
    border:1px solid rgba(62,130,208,0.4)
}
.button:hover,.button:active,.button:focus {
    border-color:rgba(49,101,160,0.4)
}
.button.full {
    background:#4084d0;
    color:#fff
}
.button.full:hover,.button.full:active,.button.full:focus {
    background:#31649e;
    color:#fff
}
.masthead {
    text-align: center;
    font-size: 1.375rem;
    position: relative;
    color: rgba(255,255,255,0.65);
}
.masthead .button:hover,.masthead .button:active,.masthead .button:focus {
    border-color:rgba(56,149,255,0.4)
}
.masthead .button.full:hover,.masthead .button.full:active,.masthead .button.full:focus {
    background:#3795ff
}

.product .masthead .actions a {
    display: inline-block;
    margin: 0 1.25rem;
}
.masthead .button:hover, .masthead .button:active, .masthead .button:focus {
    border-color: rgba(56,149,255,0.4);
}
.masthead a:hover, .masthead a:active, .masthead a:focus {
    color: #3795ff;
}

.masthead h1 {
    font-size: 2.6rem;
    line-height: 1.1;
    color: #fff;
    font-weight: normal;
}

.description {
    font-size: 16px;
    padding: 0 40px;
}

.first {
    text-align: center;
    height: 540px;
}

.future-space .space-gray-bg {
    background: rgba(46,48,58,0.96);
    background: #2ecc71;
    color: #fff;
}

.section {
    min-height: 300px;
    text-align: center;
    background: #fff;
    padding-bottom: 150px;
}

.section .sub-title {
    font-size: 2.6rem;
    padding-top: 150px;
}

.section .description {
    padding-top: 20px;
}

.main-footer>.wrapper {
    padding: 2.8125rem .625rem;
}

.support>.main-footer small {
    color: rgba(255,255,255,0.8);
}

.main-footer {
    text-align: right;
    background: #f8f9fa;
}

.main-footer small {
    font-size: 1rem;
    float: left;
}

.main-footer ul {
    display: inline
}

.main-footer ul li {
    margin-left: 2.5rem;
    display: inline-block;
}

.main-footer a {
    color: #4084d0;
}

.product>.main-footer a:hover,.product>.main-footer a:focus {
    color: #31649e;
}

.contact-form-wrap {
    text-align: center;
}

.contact-form-wrap .contact-form {
    width: 440px;
    display: inline-block;
    padding-top: 30px;
}

.contact-form-wrap .contact-form .input-item {
    text-align: left;
    margin-bottom: 15px;
}

.contact-form-wrap .contact-form .input-item input, .contact-form-wrap .contact-form .input-item textarea {
    display: inline-block;
    width: 100%;
    height: 40px;
    /*background: none;*/
    background: #f0f0f0;
    border: none;
    /*border: 1px solid rgba(62,130,208,0.4);*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    /*color: #fff;*/
    color: #444b58;
}

.contact-form-wrap .contact-form .input-item input {
    line-height: 40px;
}

.contact-form-wrap .contact-form .input-item textarea {
    height: 90px;
    padding: 5px 10px;
    resize: vertical;
    max-height: 300px;
}

.contact-form-wrap .contact-form .input-item .btn {
    background: #3795ff;
    background: #2ecc71;
    color: #fff;
    cursor: pointer;
    line-height: 40px;
}

@media screen and (max-width: 600px) {
    .nav-toggle::after {
        display: inline-block;
        content: "";
        width: 0;
        height: 0;
        position: relative;
        top: -2px;
        margin-left: .375rem;
        border-left: .375rem solid transparent;
        border-right: .375rem solid transparent;
        border-top: .375rem solid #fff;
    }

    .nav-toggle.active::after {
        border-top: 0 none;
        border-bottom: .375rem solid #fff;
        position: relative;
        top: -3px;
    }

    .product-nav>ul {
        float: none;
        display: none;
    }

    .product-nav>.active + ul {
        display: block;
    }

    nav,nav li,.main-footer small,.support-nav.toc li {
        font-size: 1.333333333rem;
    }

    .product-nav>.nav-toggle {
        display: block;
        float: right;
        cursor: pointer;
        padding: .6rem 0 .6rem .8rem;
        color: rgba(255,255,255,0.9);
        position: relative;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    .nav-toggle.active::after {
        border-top: 0 none;
        border-bottom: .375rem solid #fff;
        position: relative;
        top: -3px;
    }

    .product-nav li {
        margin: 0;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid rgba(230,230,230,0.1);
    }

    .product-nav li:last-child {
        border-bottom: 0;
    }

    .product-nav h1 {
        float: left;
        margin: 0;
        font-size: 2rem;
        vertical-align: middle;
    }

    .product-nav ul {
        float: left;
        width: 100%;
    }

    .product-nav ul a {
        display: block;
        padding: 1rem 0;
    }

    .product-nav h1 {
        float: left;
        margin: 0;
        font-size: 2rem;
        vertical-align: middle;
    }

    .contact-form-wrap .contact-form {
        width: 95%;
        display: inline-block;
        padding-top: 30px;
    }

    .main-footer {
        padding-left: .625rem;
        padding-right: .625rem;
    }

    .main-footer>.wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .main-footer small {
        display: block;
        padding: 1rem 0;
        border-width: 0 0 1px;
        border-image: linear-gradient(90deg, rgba(230,230,230,0), #e6e6e6 50%, rgba(230,230,230,0) 100%) 4%;
    }

    .support>.main-footer small {
        border-image: linear-gradient(90deg, rgba(230,230,230,0), rgba(230,230,230,0.15) 50%, rgba(230,230,230,0) 100%) 5%;
    }

    .main-footer ul {
        float: none;
    }

    .main-footer ul li {
        margin-left: 0;
        display: block;
        border-image: none;
        border-bottom: 1px solid rgba(230,230,230,0.5);
    }

    .support>.main-footer li {
        border-image: none;
        border-bottom: 1px solid rgba(230,230,230,0.1);
    }

    .main-footer a {
        display: block;
        padding: 1rem 0;
    }
}